<div class="home__container">
	<app-card
		gameCover="assets/es6.jpg"
		gameLabel="SERÁ QUE VÃO LANÇAR?"
		gameType="PC | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/hl3.jpg"
		gameLabel="NEM FOI LANÇADO AINDA!"
		gameType="PC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/pt3.jpg"
		gameLabel="ME FALARAM QUE O 2 ERA MELHOR"
		gameType="PC | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/rs64.jpg"
		gameLabel="GRANDE CLÁSSICO"
		gameType="PC | N64"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

